@use "reset.scss";
@use "palette/light";
@use "palette/dark";
@use "animation.scss";

body {
  --color-transparent: transparent;
  --color-white: rgba(var(--white), 1); // 浅色模式下深色背景内容Inverse
  --color-black: rgba(var(--black), 1); // 深色模式下浅色背景内容Inverse

  // button
  --button-radius: 3px;
  --button-height-small: 24px;
  --button-height-medium: 32px;
  --button-height-large: 40px;
  --button-padding-td-small: 2px;
  --button-padding-td-medium: 6px;
  --button-padding-td-large: 10px;
  --button-padding-lr-small: 12px;
  --button-padding-lr-medium: 12px;
  --button-padding-lr-large: 16px;
  --button-font-size-small: 12px;
  --button-font-size-medium: 14px;
  --button-font-size-large: 14px;
  --button-font-weight: 600;
  --button-none-primary-color: var(--color-primary);
  --button-none-primary-background-color: var(--color-transparent);
  --button-none-primary-background-color-hover: var(--color-fill-0);
  --button-none-primary-background-color-active: var(--color-fill-1);
  --button-none-secondary-color: var(--color-secondary);
  --button-none-secondary-background-color: var(--color-transparent);
  --button-none-secondary-background-color-hover: var(--color-fill-0);
  --button-none-secondary-background-color-active: var(--color-fill-1);
  --button-none-tertiary-color: var(--color-tertiary);
  --button-none-tertiary-background-color: var(--color-transparent);
  --button-none-tertiary-background-color-hover: var(--color-fill-0);
  --button-none-tertiary-background-color-active: var(--color-fill-1);
  --button-none-warning-color: var(--color-warning);
  --button-none-warning-background-color: var(--color-transparent);
  --button-none-warning-background-color-hover: var(--color-fill-0);
  --button-none-warning-background-color-active: var(--color-fill-1);
  --button-none-danger-color: var(--color-danger);
  --button-none-danger-background-color: var(--color-transparent);
  --button-none-danger-background-color-hover: var(--color-fill-0);
  --button-none-danger-background-color-active: var(--color-fill-1);
  --button-none-success-color: var(--color-success);
  --button-none-success-background-color: var(--color-transparent);
  --button-none-success-background-color-hover: var(--color-fill-0);
  --button-none-success-background-color-active: var(--color-fill-1);
  --button-none-color-disabled: rgba(var(--grey-9), .35);
  --button-none-background-color-disabled: transparent;
  --button-light-primary-color: var(--color-primary);
  --button-light-primary-background-color: var(--color-fill-0);
  --button-light-primary-background-color-hover: var(--color-fill-1);
  --button-light-primary-background-color-active: var(--color-fill-2);
  --button-light-secondary-color: var(--color-secondary);
  --button-light-secondary-background-color: var(--color-fill-0);
  --button-light-secondary-background-color-hover: var(--color-fill-1);
  --button-light-secondary-background-color-active: var(--color-fill-2);
  --button-light-tertiary-color: var(--color-tertiary);
  --button-light-tertiary-background-color: var(--color-fill-0);
  --button-light-tertiary-background-color-hover: var(--color-fill-1);
  --button-light-tertiary-background-color-active: var(--color-fill-2);
  --button-light-warning-color: var(--color-warning);
  --button-light-warning-background-color: var(--color-fill-0);
  --button-light-warning-background-color-hover: var(--color-fill-1);
  --button-light-warning-background-color-active: var(--color-fill-2);
  --button-light-danger-color: var(--color-danger);
  --button-light-danger-background-color: var(--color-fill-0);
  --button-light-danger-background-color-hover: var(--color-fill-1);
  --button-light-danger-background-color-active: var(--color-fill-2);
  --button-light-success-color: var(--color-success);
  --button-light-success-background-color: var(--color-fill-0);
  --button-light-success-background-color-hover: var(--color-fill-1);
  --button-light-success-background-color-active: var(--color-fill-2);
  --button-light-color-disabled: rgba(var(--grey-9), .35);
  --button-light-background-color-disabled: var(--color-fill-0);
  --button-dark-primary-color: var(--color-white);
  --button-dark-primary-background-color: var(--color-primary);
  --button-dark-primary-background-color-hover: var(--color-primary-hover);
  --button-dark-primary-background-color-active: var(--color-primary-active);
  --button-dark-secondary-color: var(--color-white);
  --button-dark-secondary-background-color: var(--color-secondary);
  --button-dark-secondary-background-color-hover: var(--color-secondary-hover);
  --button-dark-secondary-background-color-active: var(--color-secondary-active);
  --button-dark-tertiary-color: var(--color-white);
  --button-dark-tertiary-background-color: var(--color-tertiary);
  --button-dark-tertiary-background-color-hover: var(--color-tertiary-hover);
  --button-dark-tertiary-background-color-active: var(--color-tertiary-active);
  --button-dark-warning-color: var(--color-white);
  --button-dark-warning-background-color: var(--color-warning);
  --button-dark-warning-background-color-hover: var(--color-warning-hover);
  --button-dark-warning-background-color-active: var(--color-warning-active);
  --button-dark-danger-color: var(--color-white);
  --button-dark-danger-background-color: var(--color-danger);
  --button-dark-danger-background-color-hover: var(--color-danger-hover);
  --button-dark-danger-background-color-active: var(--color-danger-active);
  --button-dark-success-color: var(--color-white);
  --button-dark-success-background-color: var(--color-success);
  --button-dark-success-background-color-hover: var(--color-success-hover);
  --button-dark-success-background-color-active: var(--color-success-active);
  --button-dark-color-disabled: rgba(var(--grey-9), .35);
  --button-dark-background-color-disabled: rgba(var(--grey-1), 1);
}